.toggler-chevron {
  .fa-icon(@fa-var-chevron-down);
  font-size: 0.8em;
  color: @color-primary;
}

.toggler { }

.toggler-show {
     display: block;
}

.toggler-content {
  display: none;
}

.toggler-arrow{visibility: hidden}