.track-user {
  position: absolute;
  bottom: 1em;
  left: 1em;

  transition: all 1s;
  opacity: 0;
  &.track-user--visible {
    opacity: 1;
  }

  .track {
    background-color: @color-white;
    color: @color-disabled;
    padding: 0.2em 0.3em;
    font-size: 2em;
    .rounded();
    .pointer();
    .shadowed();
  }

  .track--selected {
    background-color: @color-primary;
    color: @color-white;
  }
}
