/* ==========================================================================
Imports
========================================================================== */
@import 'globals';
@import '../../node_modules/font-awesome/less/font-awesome';
@import "normalize.less";
@import (less) "libs/nprogress.css";
@import (less) "libs/leaflet.awesome-markers.css";
@import 'libs/toggle-switch.less';


/* ==========================================================================
Variables
========================================================================== */

@color-primary: #00ace8;
@color-white: white;
@color-white-t: rgba(255, 255, 255, 0.8);
@color-disabled: #aaa;
@color-text: #333;

@searchBarWidth: 530px;
@panelWidth: 530px;
@button-height: 48px;
@button-margin: 10px;

/* ==========================================================================
Modules
========================================================================== */
@import 'mixins/rounded.less';
@import 'mixins/border.less';
@import 'mixins/shadowed.less';
@import 'mixins/pointer.less';
@import 'mixins/fa.less';

@import 'modules/track-user';

/* ==========================================================================
Selectors
========================================================================== */

html,
body,
#mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: arial;
}

body { font-size: 100%; }

.container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: #fff;
}

#loading {
  @width: 50px;
  @height: @width;
  width: @width;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -@width / 2;
  margin-top: -@width / 2;
}

#map {
  text-align: center;
  width: 100%;
  height: 100% !important;
}

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.leaflet-tile-pane img {
    .grayscale;
}

.leaflet-top.leaflet-left {
  top: auto;
  left: auto;
  right: 1em;
  bottom: 5em;
  .leaflet-control {
    margin: 0;
  }
}

.leaflet-bar {
  .no-shadow();
  a:first-child,
  a:last-child {
    .no-rounded();
  }
}

.icon-wifi() {
  .fa-icon(@fa-var-wifi);
}

.buttons() {
  .pointer();
  &.button--4g   { background-color: darken(rgba(126, 231, 218, 1), 20%); }
  &.button--3g   { background-color: darken(rgba(234, 234, 107, 1), 20%); }
  &.button--2g   { background-color: darken(rgba(149, 234, 107, 1), 20%); }
  &.button--wifi { background-color: @color-primary; }
}

#panel {
  width: @panelWidth;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 2%;
  left:50%;
  margin-left: -@panelWidth / 2;

  .searchBarPlaceholder {
    height: 80px;
  }

  .dataShown {
    font-size: 13px;
    color: #000;
    display: inline-block;
  }

  .settings {
    label {
      line-height: @button-height;
    }

    outdoorsContainer {
      position: relative;
      float: left;
    }

    .buttonContainer {
      position: relative;
      margin-left: @button-margin;
      float: left;

      &.button--selected {
        .layer-filter {
          background-color: transparent;
        }
        .buttons();
        color: @color-white;
      }

      .layer-filter {
        height: @button-height;
        width: @button-height;
        -webkit-appearance: none;
        outline: none;
        padding: 0;
        background-color: @color-white;
        .border();
      }

      &.button--wifi {
        &:before {
          display: block;
          position: absolute;
          text-align: center;
        }
      }

      &:before {
        width: 100%;
        line-height: @button-height;
        text-align: center;
      }
    }
  }
}


#searchBar {
  position: absolute;
  top: 2%;
  left: 50%;
  margin-left: -@searchBarWidth / 2;
  z-index: 50;
  width: @searchBarWidth;
  text-align: center;
  height: 41px;
  margin-top: 20px;

  .search-wrap {
    .clearfix;

    &:before {
      .fa();
      content: @fa-var-search;

      position: absolute;
      z-index: 1;
      left: 0.45em;
      line-height: @button-height;

      font-size: 1.5em;
      color: @color-primary;
    }
  }

  .button-base() {
    outline: none;
    height: 3em;
    padding: 0;
    padding-bottom: 0.5em;
    width: 3em;

    position: absolute;
    right: 0;
  }

  .clear-search {
    .pointer();
    .button-base();
    .fa-icon(@fa-var-close);
    background-color: @color-white;
    right: @button-height + @button-margin;
    line-height: @button-height;
  }

  .layer-filter {
    .button-base();
    .buttons();
    .border();
    color: @color-white;

    &.button--wifi {
      .icon-wifi();
    }

    &:after {
      content: @fa-var-chevron-down;
      .fa();
      font-size: 0.8em;
      text-align: center;
      position: absolute;
      top: 2em;
      left: 0;
      right: 0;
      transition: all 0.2s;
    }

    &.button--in-panel:after {
      transform: rotate(180deg);
      top: 2.1em;
    }
  }

  input {
    .no-rounded();
    .border();
    position: relative;
    float: left;

    height: @button-height;
    width: 472px;

    background-color: @color-white;
    outline: none;
    padding: 0.2em 2em 0 2.6em;
    text-overflow: ellipsis;
  }

  #searchResults {
    width: @panelWidth;
    max-height: 500px;
    margin-top: @button-height;
    overflow-y: auto;
    text-align: left;
    top: 30px;
    padding-left: 0px;
    list-style: none;
    background-color: @color-white;
    li {
      padding: 15px 20px 15px 20px;
      color: @color-text;
      &:hover {
        .pointer();
        background-color: @color-white-t;
      }
      &:active,
      &:focus {
        color: @color-white;
        background: #00ace8;
      }
    }
  }
}

.groups {
  padding: 10px;
  zoom: 1;
}

.groups:before,
.groups:after {
  content: ' ';
  display: table;
}

.groups:after {
  clear: both;
}

.group {
  float: left;
  width: 33.3%;
  margin:0 0 40px;
}

.switch-candy a {
  background-color: #00ace8;
  color: #fff;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
}

.outdoors--mode--selected {
  color: #fff !important;
}

.track-user .track {
  .border();
}

@media only screen {
  .switch-light {
    margin-left: 0px;

    label {
      line-height: none;
    }

    & > span {
      line-height: 48px;
      padding-right: 0px;
    }

    span {
      color: rgb(34, 34, 34);
      font-family: arial;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
    }
  }

  .switch-candy {
    background-color: #fff;
    border-radius: 0px;
  }
}

@media all and (max-width: 530px) {
  #panel {
    width: @panelWidth / 1.8;
    margin-left: (-@panelWidth / 3.6);
  }
  #searchBar {
    width: @searchBarWidth / 1.8;
    margin-left: -@searchBarWidth / 3.6;
    input {
      width: 235px;
    }
  }

  #panel .settings .buttonContainer {
    margin-left: 0px;
  }

  .groups {
    zoom: 0.8;
  }

  .group {
    float: none;
    width: 100%;
    clear: both;
    margin:0 0 30px;
  }

  .group div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .leaflet-control-zoom {
    display: none;
  }

  #searchResults {
    max-height: 300px !important;
    width: 235px !important;
  }
}
