<div class="container" data-bind="event: { keydown: onDocumentKeyDown }">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="<%= appCss %>" />
    <div id="mapDiv">
    </div>
    <div id="top-wrapper">
        <div id="panel" data-bind="visible: showPanel">
            <div class="searchBarPlaceholder"></div>
            <div class="settings">
                <div class="leftContainer" data-bind="visible: !showWifi()">
                    <label class="switch-light switch-candy">
                        <input type="checkbox" data-bind="checked: showInside">
                        <span>
                            <span data-bind="css: { 'switched-on': !showInside() }">Meget god</span>
                            <span data-bind="css: { 'switched-on': showInside }">God</span>
                        </span>
                        <a></a>
                    </label>
                </div>
                <div class="rightContainer">
                    <div class="buttonContainer button--4g" data-bind="css: { 'button--selected': show4g }">
                        <label for="show4g" class="layer-filter">4G</label>
                        <input type="checkbox" id="show4g" data-bind="checked: show4g">
                        <div class="tooltip"><b>4G-dekning</b> er et rent datanett, som gir deg hastigheter opptil 40 Mbit/s.</div>
                    </div>
                    <div class="buttonContainer button--3g" data-bind="css: { 'button--selected': show3g }">
                        <label for="show3g" class="layer-filter">3G</label>
                        <input type="checkbox" id="show3g" data-bind="checked: show3g">
                        <div class="tooltip"><b>3G-dekning</b> gir deg mulighet til ringe og sende SMS/MMS, samt Internettsurfing med hastigheter opptil 10 Mbit/s.</div>
                    </div>
                    <div class="buttonContainer button--2g" data-bind="css: { 'button--selected': show2g }">
                        <label for="show2g" class="layer-filter">2G</label>
                        <input type="checkbox" id="show2g" data-bind="checked: show2g">
                        <div class="tooltip"><b>2G- og Edge-dekning</b> gir deg mulighet til å ringe og sende SMS/MMS, samt surfe med mobilen med begrenset hastighet.</div>
                    </div>
                    <div class="buttonContainer button--wifi">
                        <label for="showWifi" class="layer-filter"><div class="wifi-image" data-bind="css: { 'wifi--button--selected': showWifi }"></div></label>
                        <input type="checkbox" id="showWifi" data-bind="checked: showWifi">
                        <div class="tooltip"><b>Trådløse soner</b>: Det koster ingenting å surfe i våre trådløse soner i Norge, hvis du har mobilt- eller fast bredbåndsabonnement fra Telenor.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchBar" data-bind="css: { 'searchBar--in-panel': showPanel }">
            <div class="search-wrap">
                <div class="search-icon"></div>
                <input tabindex="0"
                       placeholder="Søk"
                       data-bind="
                value: searchText,
                valueUpdate: ['input', 'afterkeydown'],
                event: { keydown: onSearchKeyDown, click: onSearchClick },
                hasFocus: searchTextHasFocus" />
                <button class="layer-filter no-pointer-events" data-bind="click: togglePanelVisibility, css: filterCss, text: buttonText"></button>
                <span class="clear-search" data-bind="visible: searchText().length > 0, event: { touchstart: clearSearchText, mousedown: clearSearchText }">&nbsp;</span>
            </div>
            <ul id="searchResults" tabindex="0" data-bind="foreach: searchResults, visible: searchResults().length > 0, event: { keydown: onListKeyDown }">
                <li tabindex="-1" data-bind="text: suggestion, click: $root.onSuggestionClicked"></li>
            </ul>
        </div>
    </div>

    <div class="bottom-left-buttons" style="display: none" data-bind="visible: true">
        <div class="track-user" data-bind="css: { 'track-user--visible': $root.canTrackUser }, visible: $root.canTrackUser, click: $root.onTrackUserClicked">
            <div class="location-image" data-bind="css: { 'track--selected': $root.trackUser }"></div>
        </div>
        <div class="legend" data-bind="visible: !showPanel(), click: togglePanelVisibility">
            <div class="text" data-bind="visible: showOutside() && !showWifi()">Utendørs</div>
            <div class="text" data-bind="visible: showInside() && !showWifi()">Innendørs</div>
            <div class="text" data-bind="visible: showWifi()">Trådløspunkt</div>
            <div class="layer color4g" data-bind="visible: show4g">4G</div>
            <div class="layer color3g" data-bind="visible: show3g">3G</div>
            <div class="layer color2g" data-bind="visible: show2g">2G</div>
            <div class="layer colorWifi" data-bind="visible: showWifi"><div class="wifi-image-small"></div></div>
        </div>
    </div>
    <!--[if lt IE 9]>
        <script> alert("Din nettleser er dessverre for gammel til å kjøre dekningskartet. Forsøk å laste ned f.eks. Google Chrome i stedet."); </script>
    <![endif]-->
    <script src="<%= appJs %>"></script>
</div>
