<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="<%= appCss %>" />
        <!--
          Apple-Specific Meta Tag Keys
          https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html#//apple_ref/doc/uid/TP40008193-SW2
        -->
        <!-- // Safari iOS apps only -->
        <!-- Sets whether a web application runs in full-screen mode -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Sets the style of the status bar for a web application -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- // Chrome for Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <title>Telenor Dekning</title>

        <link rel="stylesheet" href="http://js.arcgis.com/3.10/js/esri/css/esri.css">

        <style>
            html, body, #mapDiv {
                padding: 0;
                margin: 0;
                height: 100%;
            }

            #basemapToggle {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 50;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="mapDiv">
                <!-- <div id="basemapToggle"></div> -->
            </div>
            <div id="panel" name="panel">
                <div class="searchBarPlaceholder"></div>
                <div class="nowShowing">
                    <label class="showsNow">Viser nå:</label><label class="dataShown">Tale/data, 4G, 3G, 2G, Innendørs</label>
                </div>
                <div class="settings">
                    <table class="settingsTable">
                        <tr>
                            <td>
                                <div>
                                    <input type="radio" name="type" value="Tale/data" checked="checked">Tale/data<br>
                                    <input type="radio" name="type" value="Trådløs sone">Trådløs sone<br>
                                    <input type="radio" name="type" value="Under utbygging">Under utbygging
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" name="dataspeed" value="4G" checked="checked">4G (Inntil 50 Mbit/s)<br>
                                    <input type="checkbox" name="dataspeed" value="3G" checked="checked">3G<br>
                                    <input type="checkbox" name="dataspeed" value="2G" checked="checked">2G
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="radio" name="zone" value="Innendørs" checked="checked">Innendørs<br>
                                    <input type="radio" name="zone" value="Utendørs">Utendørs
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="searchBar">
                <input placeholder="Søk etter adresse eller sted" data-bind="value: searchText, valueUpdate: ['input', 'afterkeydown']" />
                <button></button>

                <ul id="searchResults" data-bind="foreach: searchResults">
                    <li data-bind="text: suggestion, click: $root.onSuggestionClicked"></li>
                </ul>
            </div>
        </div>
        <script src="http://js.arcgis.com/3.10compact/"></script>
        <script src="<%= appJs %>"></script>
    </body>
</html>
