<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="<%= appCss %>" />

        <!-- Sets whether a web application runs in full-screen mode -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Sets the style of the status bar for a web application -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>Telenor Dekning</title>
    </head>
    <body data-bind="event: { keydown: onDocumentKeyDown }">
        <div class="container">
            <div id="mapDiv">
                <!-- <div id="basemapToggle"></div> -->
            </div>
            <div id="panel" data-bind="visible: shouldShowPanel">
                <div class="searchBarPlaceholder"></div>
                <div class="settings">
                    <div class="" style="float: left;">
                      <input id="outdoors" type="checkbox" data-bind="checked: outdoors"></input>
                      <label for="outdoors" data-bind="text: outdoorsText"></label>
                    </div>
                    <div class="" style="float: right;">
                      <div class="buttonContainer button--4g" data-bind="css: { 'button--selected': show4g }">
                            <button data-bind="click: onClickShow4g">4G</button>
                        </div>
                        <div class="buttonContainer button--3g" data-bind="css: { 'button--selected': show3g }">
                            <button data-bind="click: onClickShow3g">3G</button>
                        </div>
                        <div class="buttonContainer button--2g" data-bind="css: { 'button--selected': show2g }">
                            <button data-bind="click: onClickShow2g">2G</button>
                        </div>
                        <div class="buttonContainer button--wifi" data-bind="css: { 'button--selected': showWifi }">
                            <button data-bind="click: onClickShowWifi"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="searchBar" data-bind="css: { 'searchBar--in-panel': shouldShowPanel }">
                <div class="search-wrap">
                  <input tabindex="0" placeholder="Adresse" onclick="this.select();"
                  data-bind="value: searchText,
                      valueUpdate: ['input', 'afterkeydown'],
                      event: { keydown: onSearchKeyDown, click: onSearchClick },
                      hasFocus: $root.searchTextHasFocus" />
                  <button data-bind="click: togglePanelVisibility, css: filterCss, text: buttonText"></button>
                </div>
                <ul id="searchResults" tabindex="0" data-bind="foreach: searchResults, visible: searchResults().length > 0, event: { keydown: onListKeyDown }">
                    <li tabindex="-1" data-bind="text: suggestion, click: $root.onSuggestionClicked"></li>
                </ul>
            </div>
            <div class="track-user" data-bind="css: { 'track-user--visible': $root.canTrackUser }">
              <i class="track fa fa-compass" data-bind="css: { 'track--selected': $root.trackUser }, click: $root.onTrackUserClicked"></i>
            </div>
        </div>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.6/esri-leaflet.js"></script>
        <script src="<%= appJs %>"></script>
    </body>
</html>
